<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChuaNgotServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ChuaNgotServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44382/ChuaNgotService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ChuaNgotServiceSoap"
                contract="ChanhDuongAPI.ChuaNgotServiceSoap" name="ChuaNgotServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>